@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section 
{
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
  min-height:  100vh;
  background: #0a2a43; 
}
section::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: aquamarine;
}
section .contenedorcillo
{
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  z-index:1000 ;
}
section .contenedorcillo .contactinfo
{
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background: #0f3959;
  z-index: 1;
  padding:40px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
section .contenedorcillo .contactinfo h2
{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
section .contenedorcillo .contactinfo .info
{
  position: relative;
  margin: 20px 0 ;

}
section .contenedorcillo .contactinfo .info li
{
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;

}

